<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="recurly" type="Recurly.Configuration.RecurlySection,Recurly"/>
  </configSections>
  <recurly
    apiKey="13ed31fe290548bda1d53b9051dc9a9e"
    privateKey="9e921df10dd9471ba9dffd9ead428aab"
    subdomain="pwinty" />
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
